{
  "extends": ["plugin:vue/essential", "eslint:recommended"],
  "parser": "vue-eslint-parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "for-direction": 2,
    "getter-return": [2, { "allowImplicit": false }],
    "no-await-in-loop": 2,
    "no-compare-neg-zero": 2,
    "no-console": 0,
    "no-debugger": 0,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": [2, { "allowEmptyCatch": true }],
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-irregular-whitespace": [
      2,
      {
        "skipStrings": true,
        "skipComments": false,
        "skipRegExps": true,
        "skipTemplates": true
      }
    ],
    "no-obj-calls": 0,
    "no-prototype-builtins": 0,
    "no-sparse-arrays": 0,
    "no-template-curly-in-string": 2,
    "no-unreachable": 2,
    "no-unsafe-finally": 2,
    "valid-typeof": 2,
    "accessor-pairs": [2, { "setWithoutGet": true, "getWithoutSet": false }],
    "block-scoped-var": 2,
    "class-methods-use-this": 0,
    "complexity": [2, { "max": 20 }],
    "consistent-return": 0,
    "curly": [2, "multi-line", "consistent"],
    "default-case": 0,
    "dot-location": [2, "property"],
    "eqeqeq": [
      2,
      "always",
      {
        "null": "ignore"
      }
    ],
    "no-alert": 0,
    "no-empty-pattern": 2,
    "no-extra-bind": 2,
    "no-floating-decimal": 2,
    "no-global-assign": 2,
    "no-implicit-coercion": [
      2,
      {
        "allow": ["!!"]
      }
    ],
    "no-invalid-this": 0,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-new": 2,
    "no-redeclare": 2,
    "require-await": 0,
    "vars-on-top": 0,
    "wrap-iife": [
      2,
      "inside",
      {
        "functionPrototypeMethods": true
      }
    ],
    "yoda": [
      2,
      "never",
      {
        "onlyEquality": true
      }
    ],
    "init-declarations": 0,
    "no-shadow-restricted-names": 2,
    "no-undef": [
      2,
      {
        "typeof": false
      }
    ],
    "no-undef-init": 0,
    "line-comment-position": 0,
    "linebreak-style": 0,
    "lines-around-comment": 0,
    "max-depth": [2, 5],
    "max-len": 0,
    "max-lines": 0,
    "max-params": [2, 7],
    "multiline-ternary": 0,
    "no-continue": 0,
    "no-nested-ternary": 0,
    "no-ternary": 0,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 0,
    "no-whitespace-before-property": 2,
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "arrow-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "no-duplicate-imports": 2,
    "no-var": 2,
    "yield-star-spacing": [2, "after"],
    "prefer-spread": 0,
    "prefer-template": 0,
    "prefer-rest-params": 0,
    "prefer-const": 0,
    "prefer-arrow-callback": 0,
    "prefer-numeric-literals": 0
  }
}
